
$color-orange: #FAA111;
$color-blue: #0093EE;
$color-grey: #FAFAFF;
$color-default: #0A2C4D;
$color-white: #FFFFFF;
$color-green: #4AC0A4;
$color-gold: #BC2D5F;
$color-grey: #333333;
$color-red: red;